.carousel-container {
    width: 100%;
    max-width: 500%; /* Ensure the carousel container covers the entire width */
  }
  
  
  
  .carousel-image {
    width: 100%;
    height: 500px; /* Adjust the height as needed to increase the size of the images */
    object-fit: cover; /* Ensure the images cover the entire container */
  }
  